# https://kubernetes.io/docs/concepts/services-networking/service/
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: observability
spec:
  selector:
    app: prometheus
    tier: monitoring
  type: ClusterIP
  ports:
    - name: prometheus
      protocol: TCP
      port: 9090
      targetPort: 9090
---
