# https://kubernetes.io/docs/concepts/services-networking/service/
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
    - name: grafana-service
      protocol: TCP
      port: 9300
      targetPort: 3000
      nodePort: 30090
---
