---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-deployment
  labels:
    app: frontend
    tier: ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        tier: ui
    spec:
      containers:
        - name: task-image
          image: galihhhp/react-frontend:1.9
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: frontend-config
